<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Opportunties</title>
</head>
<body>
    <nav class="navigation">
        <a href="..\templates\index.html"><button>Home</button></a>
        <a href="..\templates\about.html"><button>About</button></a>
        <a href="..\templates\login.html"><button>Resource Sections</button></a>
        <!-- on click -->
        <a href="..\templates\resource_sections\job-listing.html">JobListing</a>
        <a href="">EducationalResource</a>
        <a href=""> FinancialAssistance</a>
        <a href=""> CommunitySupport</a>
        <a href="..\templates\login.html"><button>Login</button></a>
        <!-- after successful login -->
        <a></a>

    </nav>
    <p>
        Are you hiring?<br>
        Do you know about a mentorship program?<br>
        Do you want to mentorship program?<br>
        Help us enrich South Africa by sharing information about opportunities.</p>
</body>
</html>