<!DOCTYPE html>
<html>
<head>
  <title>About us</title>
  <meta charset="UTF-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/
  all.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <style>
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section{
    width: 100%;
    min=height: 100vh;
    Background-color: #ddd;
}

.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top:100px;
}

.content-section{
    float:left;
    width:55%;
}

.image-section{
    float: right;
    width: 40%;
}

.image-section img {
  width: 300%;
  height: auto;

}

</style>

  <div class="section">
    <div class="container">
      <div class="content-section">
        <div class="title">
          <h1>About Us</h1>
        </div>
        <div class="sub-title">
          <h2>Mission Statement:</h2>
        </div>
        <div class="content">
          <p> At the South Africa Empowerment Hub, we are committed <n/>
          to tackling poverty and unemployment by providing <n/>
          accessible resources and support to communities across <n/>
          South Africa. Our mission is to empower individuals with <n/>
          the tools and opportunities they need to achieve economic <n/>
          stability and create a thriving future.</p>
      </div>
        <div class="sub-title2">
          <h2>Vission:</h2>
        </div>
        <div class="content2">
          <p> We envision a South Africa where every resident has equal</n> 
            access to job opportunities, educational resources, financial </n>
            assistance, and community support, fostering a society where </n>
            poverty is alleviated and economic empowerment is <n/>
            achievable for all.</p>
            <div class="button">
              <a href="">Read More</a>
          </div>
          <div class="social">
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="image-section">
          <img src="resources/backgrounding.jpg">
      </div>
    </div>
  </div>
</body>
</html>