<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Financil Aid Request</title>
  </head>

  <body>
    <nav class="navigation">
      <a href="..\core\index.html"><button>Home</button></a>
      <a href="..\core\about.html"><button>About</button></a>
      <a href="..\core\login.html"><button>Resource Sections</button></a>
      <!-- on click -->
      <a href="..\core\job-listing.html">JobListing</a>
      <a href="..\core\educational_resource.html">EducationalResource</a>
      <a href=""> FinancialAssistance</a>
      <a href=""> CommunitySupport</a>
      <a href="..\templates\login.html"><button>Login</button></a>
      <!-- after successful login -->
      <a></a>
    </nav>
    <h3>Financial Aid Request Form</h3>
    <form>
      <label>Reason for application</label>
      <input
        id="application-reason"
        name="application-reason"
        placeholder="..."
        required
      />
      <label for="highest_grade_completed"
        >Tell us more about your educational background</label
      >
      <select
        id="highest_grade_completed"
        name="highest_grade_completed"
        value="..."
        required
      >
        <option value="matric">National Senior Certificate</option>
        <option value="certificate">Higher Certificate</option>
        <option value="diploma">Diploma</option>
        <option value="university">University</option>
        <option value="some_college">Some College</option>
      </select>
      <label>What are primary challenges?</label>
      <input
        id="primary_challenges"
        value="e.g. I am having difficulty finding employment..."
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
