{% extends "base.html" %} {% include 'navigation.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>South Africa Empowerment Hub</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="index.css" />
    {% endblock %}
  </head>

  <body>
    {% block body %}
    <nav class="navigation">
      <a href="../core/index.html"><button>Home</button></a>
      <a href="../core/about.html"><button>About</button></a>
      <a href="../core/login.html"><button>Resource Sections</button></a>
      <a href="../core/job-listing.html"><button>Job Listing</button></a>
      <a href=""><button>Educational Resource</button></a>
      <a href=""><button>Financial Assistance</button></a>
      <a href=""><button>Community Support</button></a>
      <a href="../core/login.html"><button>Login</button></a>
    </nav>
    <h1>Welcome to South Africa Empowerment Hub</h1>

    After successful login
    <a href="../core/sign-up.html">
      <button>Sign Up</button>
    </a>
    <a href="../core/login.html">
      <button>Login</button>
    </a>

    {% endblock %}

    <footer>
      <a href="../core/user-research.html">Share your story</a>
      <a href="../core/opportunities.html">Tell us about an opportunity</a>
    </footer>
  </body>
</html>
