<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Login</button>
    </form>

    <div class="container">
      <a href="{% url 'sign_up' %}" class="sign_up">
        <button>Don't have an account?<br />Sign Up</button>
      </a>
      <button class="password"><a href="#">Forgot password?</a></button>
    </div>
  </body>
</html>
