{% extends "base.html" %}
<!-- {% include 'navigation.html' %} -->
<!-- {{}} -->
{% block head %}
{% block title %}<title>South Africa Empowerment Hub </title>{% endblock %}
{% endblock %}

{% block body %}
    <h1>Welcome to South Africa Empowerment Hub</h1>
    <a href="..\front_end\user_research.html">
        <button>Share your story</button>
    </a>
    <a href="..\front_end\user_research.html">
        <button>Tell us about an opportunity</button>
    </a>    
{% endblock %}

{% block footer%}
{% endblock %}
